h1{
    text-align: center;
    color: white;
    position:relative;
    top:75px;
}
body{
   background-color: grey;
   border:4px dotted white;
}
h2{
    color:rgb(8, 20, 182);
    text-align: center;
    font-family: 'Rasa', serif;
}
p{
    color:white;
    border: dotted 4px rgb(8, 20, 182);
font-family: 'Chivo', sans-serif;
padding: 25px;
margin:25px
    }
li{
    color:white;
font-family: 'Chivo', sans-serif;

}
#brain{z-index: -3;
position:relative;
top:-75px;
left:50px;
}
img{
position:relative;
Left:185px;
}
.helpfulLinks{
    text-align: center;

}
#places{
    text-align: center;
}
ul{
    color:blue;
}
h4{
    color: rgb(8, 20, 182);
    font-family: 'Rasa', serif;
}
#cloud{
    position:relative;
    left:220px;
}
#red{
 position:relative;
    left: 165px;
}
.navbar{
    nav-left: 200px;
}